body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contair {
  width: 100%;
  box-shadow: 3px 3px 5px 2px #7D7676;
  background-color: #eee;
  color: #434343;
  padding: 0.7rem;
  margin: 0.4rem;  
}


input {
  border: none;
  border-bottom: 3px solid #E8181B;
  padding: 0.4rem;
  outline: none;
  color: rgba(50, 66, 251, 0.83);
}
